@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700);

.merriweather      { 
    font-family: 'Merriweather'; 
}

/*
#controls {
    font-family: 'Merriweather';
    font-size: 10px;
}*/
a {
    color: hotpink;
}

.cell {
    height: 15px;
    min-width: 15px;
    border: black;
    border-color: black;
    background: #fff;
    border-style: solid;
    border-width: 1px;
    font-size: 60%;
    /*background-color: pink;*/
}

.enabled {
    background: black;
}

.current {
    background: purple;

}

#tracker-parent {
    overflow-x: visible;
}